.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.playerSection {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
}

.player {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: lightblue;
}

.playerContainer {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
}

.control {
  margin: 20px;
  padding: 20px;
  background-color: lightblue;
}

.setupContainer {
  display: flex;
  flex-direction: row;
}